@{
    ViewBag.Title = "Home Page";
}

<div id="homePage" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    
</div>

<style>
    #homePage  {
        height: 100%;
        float: left;
    }
</style>